#login_page_content{
    /* background-color: lightblue; */
    width: 100%;
    padding-top: 15em;
    height: 500px;
}
#log_reg_forms{
    width: 60%;
    height: 400px;
    /* background-color: lightgreen; */
    margin: auto;
}
#log_reg_but{
width: 70%;
margin: auto;    
/* display: block; */
height: 200px;
/* background-color: lightblue; */
    border: 1px solid black;
}

#log_reg_but ul li{
    /* display: inline-block; */
    /* margin-left: 10%; */
    float: left;
    /* position: absolute; */
    padding-left:6em;
    padding-right:6em;
    text-align: center; 
    padding-top: 0.8em;
    font-size:1.25em;
    border: none;
    border-top: 1px solid rgba(48,60,71,0.6);
    background-color: white;
    border-bottom: 0.5em solid  rgb(48,60,71);
    font-family: Andale Mono, monospace;    
    padding-bottom: 0.2em;
}
/* #log_reg_but ul button:first-child{
    margin-left: 20%;
} */
#log_reg_forms{
    clear: right;
}