#login_page_content{
    background-color: rgba(1, 1, 1, 0.6);
    /* overflow: auto; */
    /* height: 2200px; */
    /* opacity:0.9; */
    z-index: 1;
    overflow: hidden;
    /* position: fixed; */
    width: 100%;
}

#log_in_container{
    box-sizing: border-box;
    width:30%;
    margin:auto;
    height: 500px;
    margin-top:15%;
    margin-bottom:15%;
    background-color: white;
}
#log_in_container input{
    display: block;
    padding: 1em;
    margin: 1em;
    margin-left: 35%; 
}
#log_in_container form{
    padding-top:15%; 
}
#sign_in_btn{
    margin-left: 40%;
    padding: 1em;
    width: 25%;
    /* margin: auto; */
    box-shadow: none;
    border: none;
    height: 3.45em;
    background-color: rgb(48,60,71);
    color: white;
    font-size:0.8em;
    font-family: Andale Mono, monospace;
}