/* CONTAINER STYLE */
html{
    height: 100%;
}
body{
    /* height: 100%; */
    width: 100%;
}
#main_page_content{
    /* overflow: auto; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 200px;
    box-sizing: border-box;
    height: max-content;
}
/* #main_page_content>h1{
    font-size:3em;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    color: rgb(48,60,71);
    text-align: center;
} */
/* .one_hotel{
    padding-left: 15px;
    padding-right: 15px;
} */
/* .one_add{
    width: 50%;
    box-sizing: border-box;
    background-color: lightblue;
    float: left;
    /* height: 350px; */
   /* height: 35%;
} */
/* SEARCH STYLE */

.input_search input{
    width: 30%;
    height: 3em;
    position: absolute;
    border: 0.15em solid rgba(48,60,71,0.6);
    border-left: none;
    border-radius: 0.7em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    padding-left:1%; 
    font-size: 0.85em;
    

}
.input_search>input:hover{
    width: 35%;
    border-radius: 0.7em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.input_search input:focus{
    outline: none;
    border-radius: 0.7em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.input_search{
    position: relative;
    width:50%;
    margin-left: 35%;
     margin:auto;
    margin-top:7%;
    margin-bottom: 5%;
}
.input_btn{
    background-color: rgba(48,60,71,0.6);
    color: white;
    width:20%;
    height: 3.45em;
    border: 0.15em solid rgba(48,60,71,0.1);
    border-right: none;
    border-radius: 0.7em;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.input_btn:hover{
    background-color: rgba(48,60,71,0.5);
}  

/* THE LIST OF THE HOTELS STYLE */





.allTheHotels{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: auto;
   margin-left: auto;

}

.main_facilities{
    margin-top: 5px;
    padding: 5px;
}
.main_facilities>li{
    padding: 7px;
}
#content{
    margin-left: -15px;
    box-sizing: border-box;
    margin-right: -15px;
    display: inline-block;

}

.one_hotel{
    margin-bottom: 30px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.hotel_main_image{
    width: 100%;
    
}


.one_add{
    width: 100%;
    border: 1px solid #ececec;
    display: inline-block;
    background: #fafafa;
}
.left_container{
    box-sizing: border-box;
}
.right_container{
    width: 60%;
    float: right;
    box-sizing: border-box;
    border: 1px solid #ececec;
    border-left: none;
    border-top: none;
    height: 100%;
}
.right_container>div>h2{
    text-align: center;
}
.hot_header>h2{
    background-color: rgba(48,60,71,0.2);
    margin: 0;
    padding: 7px !important;
    color: rgba(48,60,71,0.7)
}
.description{
 height:160px;
}
.description>h3{
    margin-left:30px;
    color:rgba(48,60,71,0.2);
}
.description>p{
    margin-top: 20px;
    margin-left: 15px;
    color: rgba(48,60,71,0.7)    
}

.buttons{
    margin-top: 60px;
    margin-left: 15px;
} 
.hotel_main_image{
    width:100%;

}
.buttons>button{
    wdith:50%;
    border: none;
    padding: 6px;
    
}
.icon{
    width: 20px;
    margin-right: 3px;
}


@media screen and (min-width: 768px)
{
    .allTheHotels {
        width: 750px;
    }
  
}
@media screen and (min-width: 500px){
    #content{
        height: auto !important;
    }
    .left_container{
        width: 40%;
        display: inline-block;
    }
    .right_container{
        width: 60%;
        display: inline-block;
    }
}

@media screen and (min-width: 992px)
{
    .one_hotel {
        width: 50%;
        float: left;
    }    
    .allTheHotels {
    width: 970px;
    }
}
@media screen and (min-width: 1200px){
    .allTheHotels {
    width:1170px;
}