<section id='main_page_content' ng-controller="mainPageController">
        <!-- <div  ng-include="'assets/externalHTM/carousel.htm'"></div> -->
        <video style="width:100%; height:900px; " controls:false loop autoplay>
                <source src="assets/Videos/Background.mp4" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
                Your browser does not support the video tag.
              </video>
    <!-- <ul class="pgwSlideshow">
            <li><img src="assets\Images\Images-JPG\hotel1room1.jpg" alt="San Francisco, USA" data-description="Golden Gate Bridge"></li>
            <li><img src="assets\Images\Images-JPG\hotel1room2.jpg" alt="Rio de Janeiro, Brazil"></li>
            <li><img src="assets\Images\Images-JPG\hotel1room3.jpg" alt=""></li>
            <li><img src="assets\Images\Images-JPG\hotel1room1.jpg" alt=""></li>
            <li><img src="assets\Images\Images-JPG\hotel1room2.jpg" alt=""></li>
            <li><img src="assets\Images\Images-JPG\hotel1room3.jpg" alt=""></li>
            <li><img src="assets\Images\Images-JPG\hotel1room1.jpg" alt=""></li>
            <li><img src="assets\Images\Images-JPG\hotel1room2.jpg" alt=""></li>
            <li><img src="assets\Images\Images-JPG\hotel1room3.jpg" alt=""></li>
            <li><img src="assets\Images\Images-JPG\hotel1room1.jpg" alt=""></li>
            <li><img src="assets\Images\Images-JPG\hotel1room2.jpg" alt=""></li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Monaco" target="_blank">
                            <img src="assets\Images\Images-JPG\hotel1room3.jpg" alt="Monaco">
                        </a>
            </li>
          </ul> -->

          


          <h1>Find hotels from all over the world</h1>
    <!-- <div class="form-wrapper cf">
        
        <input type="text" class="form-control" placeholder="Search for town..." ng-model="town">
                  <button class="input_btn" ng-click="searchtown=town"  >Go!</button>
    </div> -->
    <!-- <form >
            <input type="text" placeholder="Search here..." required>
            <button type="submit">Search</button>
        </form>  -->

   
    <!-- <button>Price</button> -->
    <hr>
    <!-- <button>Likes</button> -->
    <div class='allTheHotels'>
            <div class='filter'>
                <ul>
                    <li class='firstEl'> <button ng-click='sortBy("name")'>Name</button></li>
                    <li><button ng-click='sortBy("hotelStars")'>Start</button></li>
                    <li><button ng-click='sortBy("likes")'>Likes</button></li>
                    <li class="form-wrapper cf">
                            <input type="text" class="form-control" placeholder="Search for town..." ng-model="town">
                        </li>
                        <li>
                            <button class="input_btn" ng-click="searchtown=town"  >Go!</button>
                            </li>
                </ul>
            </div>
                <!-- 
                            <button ng-click='sortBy("name")'>Name</button>
                            <button ng-click='sortBy("hotelStars")'>Start</button>
                            <button ng-click='sortBy("likes")'>Likes</button>
                        </div> -->
        <div id='content'>

            <article class='one_hotel' ng-repeat="hotels in myhotels | orderBy:propertyName:reverse" ng-show="searchtown==hotels.town">
                <div class='one_add'>
                    <div class='left_container'>
                        <img class='hotel_main_image' ng-src="{{hotels.Photos[0]}}" />
                        <!-- <span>
                                {{hotels.likes}}
                            </span> -->
                        <!-- <span>
                                {{hotels.views}}
                            </span> -->
                        <ul class='main_facilities'>
                            <li><img class='icon' ng-src="{{hotels.facilities[0].imgURL}}">{{hotels.facilities[0].name}}</li>
                            <li><img class='icon' ng-src="{{hotels.facilities[1].imgURL}}">{{hotels.facilities[1].name}}</li>
                            <li><img class='icon' ng-src="{{hotels.facilities[2].imgURL}}">{{hotels.facilities[2].name}}</li>
                            <li><img class='icon' ng-src="{{hotels.facilities[4].imgURL}}">{{hotels.facilities[4].name}}</li>
                        </ul>
                        <!-- <div ng-show="hotels.facilities[0].wifi">
                            <img  ng-src="{{hotels.facilities[0].imgURL}}">
                             </div> -->
                    </div>
                    <div class='right_container'>
                        <div class='hot_header'>
                            <h2>{{hotels.name}}</h2>
                        </div>
                        <div class='description'>
                            <h3>{{hotels.town}}, {{hotels.country}}</h3>
                            <p>{{hotels.shortDescription}}</p>
                            <p>{{hotels.views}}</p>
                            <p>{{hotels.oneBedPrice}}$ for bed</p>
                        </div>
                                <div class="buttons" role="group" aria-label="...">
                                        <button class="pure-button" ><a href="#!/viewdetails/{{hotels._id}}">View</a></button>
                                        <button class="pure-button" ng-click="addToFav()">Favorite</button>
                                </div>
                        </div>
                    </div>
            </article>
            </div>
        </div>
</section>
<script src="assets/controlers/mainPageControler.js"></script>