<section id='main_page_content' ng-controller="mainPageController">
    <!-- <div class='carousel' ng-include="'assets/externalHTM/carousel.htm'"></div> -->



    <h1>Find hotels from all over the world</h1>

    <div class="input_search">
        <span>
                  <button class="input_btn" ng-click="searchtown=town"  >Go!</button>
                </span>
        <input type="text" class="form-control" placeholder="Search for town..." ng-model="town">
    </div>


    <div>

        <button ng-click='sortBy("name")'>Name</button>
        <button ng-click='sortBy("hotelStars")'>Start</button>
        <button ng-click='sortBy("likes")'>Likes</button>
    </div>
    <!-- <button>Price</button> -->
    <hr>
    <!-- <button>Likes</button> -->
    <div class='allTheHotels'>
        <div id='content'>

            <article class='one_hotel' ng-repeat="hotels in myhotels | orderBy:propertyName:reverse" ng-show="searchtown==hotels.town">
                <div class='one_add'>
                    <div class='left_container'>
                        <img class='hotel_main_image' ng-src="{{hotels.Photos[0]}}" />
                        <!-- <span>
                                {{hotels.likes}}
                            </span> -->
                        <!-- <span>
                                {{hotels.views}}
                            </span> -->
                        <ul class='main_facilities'>
                            <li><img class='icon' ng-src="{{hotels.facilities[0].imgURL}}">{{hotels.facilities[0].fName}}</li>
                            <li><img class='icon' ng-src="{{hotels.facilities[1].imgURL}}">{{hotels.facilities[1].fName}}</li>
                            <li><img class='icon' ng-src="{{hotels.facilities[2].imgURL}}">{{hotels.facilities[2].fName}}</li>
                            <li><img class='icon' ng-src="{{hotels.facilities[4].imgURL}}">{{hotels.facilities[4].fName}}</li>
                        </ul>
                        <!-- <div ng-show="hotels.facilities[0].wifi">
                            <img  ng-src="{{hotels.facilities[0].imgURL}}">
                             </div> -->
                    </div>
                    <div class='right_container'>
                        <div class='hot_header'>
                            <h2>{{hotels.name}}</h2>
                        </div>
                        <div class='description'>
                            <h3>{{hotels.town}}, {{hotels.country}}</h3>
                            <p>{{hotels.description}}</p>
                        </div>
                                <div class="buttons" role="group" aria-label="...">
                                        <button class="pure-button">Like</button>
                                        <button class="pure-button">Favorite</button>
                                </div>
                        </div>
                    </div>
            </article>
            </div>
        </div>
</section>
<script src="assets/controlers/mainPageControler.js"></script>