<section class='parallax'>

<section id='step_counter' style='padding:100px;'>
    <div class="container">
        <h1>Let's get started!</h1>
        <ul class="progressbar">
            <li class="active">Step 1</li>
            <li>Step 2</li>
            <li>Step 3</li>
        </ul>
    </div>
</section>
<section id='first_step' ng-controller="stepController">

    <form action="" method="post">

        <div class='step_heading'>
            <h2>What kind of place are you listing?</h2>
        </div>
        <div class="hotel_type">
            <span>Hotel, house, apartament or something else.</span>
        </div>
        <div class='hotel_input'>

            <select name="type" id="" ng-model="hotelData.hotelType">
                <option value="hotel">Hotel</option>
                <option value="house">House</option>
                <option value="apartament">Apartament</option>
                <option value="something_else">Something else</option>
            </select>
        </div>
        <div class="hotel_type">
            <span>With how many stars?</span>
        </div>
        <div class='hotel_input'>
            <select name="stars" id="" ng-model="hotelData.stars">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="3">4</option>
                <option value="3">5</option>
            </select>
        </div>
        <!-- <div class="stars">
            <input type="radio" name="star" class="star-1" id="star-1" />
            <label class="star-1" for="star-1">1</label>
            <input type="radio" name="star" class="star-2" id="star-2" />
            <label class="star-2" for="star-2">2</label>
            <input type="radio" name="star" class="star-3" id="star-3" />
            <label class="star-3" for="star-3">3</label>
            <input type="radio" name="star" class="star-4" id="star-4" />
            <label class="star-4" for="star-4">4</label>
            <input type="radio" name="star" class="star-5" id="star-5" />
            <label class="star-5" for="star-5">5</label>
            <span></span>
        </div> -->
        <div class="hotel_type">
            <div></div>
            <span>What will guest have?</span>
        </div>
        <div class='hotel_input'>

            <select name="possetions" id="" ng-model="hotelData.possetions">
                <option value="whole_place">Whole place</option>
                <option value="privite_room">Privite room</option>
                <option value="something_else">Something else</option>
            </select>
        </div>
        <div class="hotel_type">
            <span>How many rooms does your property have?</span>
        </div>
        <div class='hotel_input'>
            <select name="roomsCount" id="" ng-model="hotelData.roomsCount">
                <option value="2-5">2-5</option>
                <option value="6-7">5-7</option>
                <option value="8-10">8-10</option>
                <option value="more_than_10">More than 10</option>
            </select>
        </div>
        
        <div class='step_heading'>
            <h2>Okay now! How many beds your property has</h2>
        </div>
        <div class="hotel_type">
            <span>How many  guest?</span>
        </div>
        <div class='hotel_input'>
            <input type="number" ng-model="hotelData.maxGuests">
        </div>
        <div class="hotel_type">
            <span>How many bedrooms you have?</span>
        </div>
        <div class='hotel_input'>
            <input type="number" ng-model="hotelData.bedroomsCount">
        </div>
        <div class="hotel_type">
            <span>Price for bed</span>
        </div>
        <div class='hotel_input'>
            <input type="number" ng-model="hotelData.oneBedPrice">
        </div>
        <div class="hotel_type">
            <span>And bathrooms?</span>
        </div>
        <div class='hotel_input'>
            <input type="number" ng-model="hotelData.bathroomsCount">
        </div>
        
        <div class='step_heading'>
            <h2>Where's you place located</h2>
        </div>
        <div class="hotel_type">
            <span>Country</span>
        </div>
        
        <div class='hotel_input'>
            <select name="country" id="country" ng-model="hotelData.country">
                <optgroup id="country-optgroup-Europe" label="Europe"> 
                    <option value="Albania" label="Albania">Albania</option>
                    <option value="Andorra" label="Andorra">Andorra</option>
                    <option value="Austria" label="Austria">Austria</option>
                    <option value="Belarus" label="Belarus">Belarus</option>
                    <option value="Belgium" label="Belgium">Belgium</option>
                    <option value="Bosnia_and_Herzegovina" label="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                    <option value="Bulgaria" label="Bulgaria">Bulgaria</option>
                    <option value="Croatia" label="Croatia">Croatia</option>
                    </optgroup> 
                </select>
        </div>
        <div class="hotel_type">
            <span>Hotel name.</span>
        </div>
        <div class='hotel_input'>
            <input type="text" ng-model="hotelData.name">
        </div>
        <div class="hotel_type">
            <span>Property addres</span>
        </div>
        <div class='hotel_input'>
            <input type="text" ng-model="hotelData.address">
        </div>
        <div class="hotel_type">
            <span>City</span>
        </div>
        <div class='hotel_input'>
            <input type="text" ng-model="hotelData.town">
        </div>
        <div class="hotel_type">
            <span>Post Code</span>
        </div class="hotel_type">
        <div class='hotel_input'>
            <input type="text" ng-model="hotelData.postCode">
        </div>
        <div class="hotel_type">
                <span>Short description</span>
            </div class="hotel_type">

        <div class='hotel_input'>
                <textarea rows="4" cols="500"  ng-model="hotelData.shortDescription">
                        Enter short description of your hotels.
                </textarea>
        </div>
        <div class='hotel_input' >
                <textarea rows="4" cols="30" ng-model="hotelData.description">
                        Enter full description of your hotels.
                </textarea>
        </div>

        <div class='step_heading' >
            <h2>You're almost there! Let's see your property facilities</h2>
        </div>

         <div class='hotel_facilities'>
            <input type="checkbox" ng-model="hotelData.facilities[0].has"><span>Wifi</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[1].has"><span>TV</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[2].has"><span>Air conditioning</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[3].has"><span>Pool</span>
        </div>
        <div class="hotel_facilities">
                <input type="checkbox" ng-model="hotelData.facilities[4].has"><span>Smoke Area</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[5].has"><span>Iron</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[6].has"><span>Gym</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[7].has"><span>BBQ</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[8].has"><span>Pets</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[9].has"><span>Hair dryer</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[10].has"><span>SPA</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[11].has"><span>Restaurant</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[12].has"><span>Bar</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[13].has"><span>Meating Room</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[14].has"><span>Extra Bed</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[15].has"><span>Cloakroom</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[16].has"><span>Elevator</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[17].has"><span>Room Service</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[18].has"><span>Fountain</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[19].has"><span>Garage</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[20].has"><span>Living Room</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[21].has"><span>Tuggage Trolley</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[22].has"><span>Massage</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[23].has"><span>No Smoking Area</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[24].has"><span>Phone</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[25].has"><span>Safe</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[26].has"><span>Sauna</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[27].has"><span>Toilets</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[28].has"><span>Shops</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[29].has"><span>Towel</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[30].has"><span>Transportation</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[31].has"><span>Washing Machine</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[32].has"><span>Water Park</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[33].has"><span>Horse Riding</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[34].has"><span>Wheelchair Ramp</span>
        </div>
        <div class="hotel_facilities">
            <input type="checkbox" ng-model="hotelData.facilities[35].has"><span>24/7 Reception</span>
        </div>
        </div> 
        <span>Thank you, that's all!</span><button ng-click="addNewHotel($event)">Sign Your Property</button>
    </form>
    <form ng-submit="Submit();">
    <label class="btn btn-success">
        Browse
        <input type="file" ng-disabled="uploading" file-model="file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().photoChanged(this.files)">
        <!-- <input type="file" ng-disabled="uploading" file-model="file.upload2" name="myfile" style="display: none;" onchange="angular.element(this).scope().photoChanged(this.files)"> -->
        <!-- <input type="file" ng-disabled="uploading" file-model="file.upload3" name="myfile" style="display: none;" onchange="angular.element(this).scope().photoChanged(this.files)"> -->
    </label>
   
    <br>
    <br>
    <button ng-disabled="uploading" type="submit" class="btn btn-primary">Upload</button>
</form>

<br>

<img class="mythumbnail" style="width:100px;"ng-src="{{ thumbnail.dataUrl || default }}">
    <p>{{hotelData}}</p>
    <p>{{facilities}}</p>
    <p>{{file}}</p>
    <p>{{ thumbnail.dataUrl }}</p>


    <!-- <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text"> -->
</section>
<script src="assets/controlers/stepController.js"></script>
</section>
